In [4]:
import pandas as pd
import os

In [2]:
comparison_folder = 'models/comparisons/'

In [11]:
files = []
i=0
for f in os.listdir(comparison_folder):
    if f[-1] == 'v':
        print(str(i) + ' is ' + f)
        files+=[f]
        i+=1
print(files)

4 is try_cnn_lstm_parameter_search_respeck.csv
4 is try_cnn_lstm_parameter_search_thingy.csv
4 is try_lstm_parameter_search_respeck.csv
4 is try_lstm_parameter_search_thingy.csv
['try_cnn_lstm_parameter_search_respeck.csv', 'try_cnn_lstm_parameter_search_thingy.csv', 'try_lstm_parameter_search_respeck.csv', 'try_lstm_parameter_search_thingy.csv']

In [23]:
df_cnn_lstm_respeck = pd.read_csv(comparison_folder + files[0])
df_cnn_lstm_thingy = pd.read_csv(comparison_folder + files[1])
df_lstm_respeck = pd.read_csv(comparison_folder + files[2])
df_lstm_thingy =pd.read_csv(comparison_folder + files[3])

In [16]:
# These are the same
df_cnn_lstm_respeck[df_cnn_lstm_respeck['sacc_mean'] == df_cnn_lstm_respeck['sacc_mean'].max()]
df_cnn_lstm_respeck[df_cnn_lstm_respeck['acc_mean'] == df_cnn_lstm_respeck['acc_mean'].max()]

,Unnamed: 0,epochs,dropout,filters,kernels,lstm_unit,nn_units,batch_size,learning_rate,acc_mean,sacc_mean
65,65,3,0.5,64,2,128,64,64,0.001,0.60205,0.876758

In [27]:
# Not the same - use sacc_mean max
df_cnn_lstm_thingy[df_cnn_lstm_thingy['acc_mean'] == df_cnn_lstm_thingy['acc_mean'].max()]

,Unnamed: 0,epochs,dropout,filters,kernels,lstm_unit,nn_units,batch_size,learning_rate,acc_mean,sacc_mean
21,21,5,0.5,32,2,128,128,64,0.001,0.601877,0.844534

In [28]:
df_cnn_lstm_thingy[df_cnn_lstm_thingy['sacc_mean'] == df_cnn_lstm_thingy['sacc_mean'].max()]

,Unnamed: 0,epochs,dropout,filters,kernels,lstm_unit,nn_units,batch_size,learning_rate,acc_mean,sacc_mean
17,17,5,0.5,32,2,128,64,64,0.001,0.596132,0.849353

In [21]:
# These are the same
df_lstm_respeck[df_lstm_respeck['acc_mean'] == df_lstm_respeck['acc_mean'].max()]
df_lstm_respeck[df_lstm_respeck['sacc_mean'] == df_lstm_respeck['sacc_mean'].max()]

,Unnamed: 0,epochs,dropout,lstm_unit,nn_units,batch_size,learning_rate,acc_mean,sacc_mean
17,17,4,0.5,128,64,64,0.001,0.604433,0.879139

In [29]:
# Different - use acc_mean max
df_lstm_thingy[df_lstm_thingy['sacc_mean'] == df_lstm_thingy['sacc_mean'].max()]

,Unnamed: 0,epochs,dropout,lstm_unit,nn_units,batch_size,learning_rate,acc_mean,sacc_mean
19,19,5,0.5,128,64,128,0.001,0.564963,0.831814

In [30]:
df_lstm_thingy[df_lstm_thingy['acc_mean'] == df_lstm_thingy['acc_mean'].max()]

,Unnamed: 0,epochs,dropout,lstm_unit,nn_units,batch_size,learning_rate,acc_mean,sacc_mean
21,21,5,0.5,128,128,64,0.001,0.569698,0.829314

In [1]:
from tensorflow import keras
model = keras.models.load_model('models/try_cnn_lstm_thingy_tf24')

In [2]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 24, 32)            416
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 12, 32)            0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 11, 32)            2080
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 5, 32)             0
_________________________________________________________________
bidirectional (Bidirectional (None, 256)               164864
_________________________________________________________________
flatten (Flatten)            (None, 256)               0
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense (Dense)                (None, 64)                16448
_________________________________________________________________
dense_1 (Dense)              (None, 18)                1170
=================================================================
Total params: 184,978
Trainable params: 184,978
Non-trainable params: 0
_________________________________________________________________

In [18]:
import numpy as np
np.concatenate([np.ones(1), np.zeros(17)]).shape

(18,)